@import "Mixin.scss";

.search-result {
    margin: 2.5rem 0;
    // color: red;
    overflow-x:hidden ;
}
.search-result-item{
    padding: 1.3rem 0;
    font-size: 16px;
    width: 60%;
    margin-left: 18rem;
    padding-left: 15px;
    // border : 1px solid red;
    @include tablet-maxwidth {
        margin-left: 15rem;
        width: 70%;
    }
    @include mobile-maxwidth {
        width: 90%;
        margin-left: 2rem;
        border-bottom: 2px solid #ddd;

    }
    & .search-result__link {
        font-size: 14px;
    }
    & .search-result__title {
        padding: 2px 0;
        font-weight: 400;
        & a {
            font-size: 1.8rem;
        padding: 2px 0;

        }

    }
    & .search-result__desc {
        font-size: 1.4rem;

    }
}